

<div class="create_event">
  <h2>Add your event.</h2>
<h4 class="errors">Oops! Review the following errors and try submitting your event again.</h4>
<ul class="errors">
  <form action="/events/create" method="post">
    <input type="text" name="event[title]" value=<%= "#{@params[:event][:title]}" %>>
    <%= @individual_messages[:title] %><br>
    <input type="text" name="event[organizer_name]" value=<%= "#{@params[:event][:organizer_name]}" %>>
    <%= @individual_messages[:organizer_name] %><br>
    <input type="text" name="event[organizer_email]" value=<%= "#{@params[:event][:organizer_email]}" %>>
    <%= @individual_messages[:organizer_email] %><br>
    <input id= "datepicker" type="text" name="event[date]" value=<%= "#{@params[:event][:date]}" %>>
    <%= @individual_messages[:date] %><br>
    <input type="submit" value="Create Event">
    </ul>
  </form>
</div>
